body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images6.alphacoders.com/909/thumb-1920-909641.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  color: aliceblue;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero h2 {
  color: aliceblue;
}

.hero .btn {
  display: block;
  width: 250px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1.5em;

  border: 3px solid white;
  border-radius: 20px;
  background-color: rgba(104, 53, 206, 0.911);
}

.box {
  width: 450px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #34495e;
  text-align: center;
  box-shadow: 15px 15px #2c3e50;
  
  input[type="text"], input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 12px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    
    &:focus {
      width: 370px;
      border-color: #1abc9c;
    }
  }
  
  input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    border: 2px solid #1abc9c;
    padding: 12px 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    
    &:hover {
      background-color: #1abc9c;
    }
  }
}
